$main-color:#00aa00;
$main-color-light:#00ee00;
$headers-color: #26ac26;

$button-color: #37a1e8;
$button-hover-color: #60c7ff;
$button-text-color: #fff;

$to-cart-button-color: #e27100;
$to-cart-button-hover-color: #ec9d00;
$to-cart-button-text-color: #fff;

$in-cart-button-color: #ddba0d;
$in-cart-button-hover-color: #efca0e;
$in-cart-button-text-color: #fff;

$header-cart-color: #ffff7f;

$active-menu-color: #e27100;
